
    <div class="card">
      <div class="card-header border-b border-neutral-200 dark:border-white/10 px-5 py-4">
        <ng-content select="[header]" />
      </div>

      <div
        class="px-5 py-3 border-b border-neutral-200 dark:border-white/10 bg-neutral-50 dark:bg-[#191d1a]/50"
      >
        <ng-content select="[filters]" />
      </div>

      <div class="overflow-x-auto">
        <ng-content select="[table]" />
      </div>

      <div class="px-5 py-3 border-t border-neutral-200 dark:border-white/10">
        <ng-content select="[pagination]" />
      </div>
    </div>
  