
    <div class="relative inline-block" #root>
      <div (click)="toggle()" (keydown.enter)="toggle()" tabindex="0" role="button">
        <ng-content select="[trigger]" />
      </div>
      @if (isOpen()) {
        <div
          class="absolute z-30 mt-2 rounded-lg border border-neutral-200 dark:border-neutral-700
            bg-white dark:bg-neutral-900 shadow-lg p-4 min-w-[200px]"
          [class.left-0]="align() === 'start'"
          [class.right-0]="align() === 'end'"
          [class.left-1/2]="align() === 'center'"
          [class.-translate-x-1/2]="align() === 'center'"
        >
          <ng-content select="[content]" />
        </div>
      }
    </div>
  