
    <aside class="flex flex-col items-center pt-4 gap-2 bg-white dark:bg-neutral-900">
      <app-icon-button
        icon="lucideMessagesSquare"
        [variant]="activeTab() === 'chat' ? 'primary' : 'ghost'"
        ariaLabel="Chat"
        (clicked)="setTab.emit('chat')"
      />
      <app-icon-button
        icon="lucideUser"
        [variant]="activeTab() === 'contact' ? 'primary' : 'ghost'"
        ariaLabel="Contato"
        (clicked)="setTab.emit('contact')"
      />
      <app-icon-button
        icon="lucideHandshake"
        [variant]="activeTab() === 'negotiation' ? 'primary' : 'ghost'"
        ariaLabel="Negociações"
        (clicked)="setTab.emit('negotiation')"
      />
    </aside>
  